@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --body-color: #222;
  --dark-color: #100;
  --white-color: #fff;
  --dark-purple-color: #8200ad;
  --light-purple-color: #ac0ae1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
}
section {
  padding: 2rem 4rem;
  width: 100%;
  color: var(--white-color);
  text-align: center;
}
input {
  background-color: var(--dark-color);
  color: var(--white-color);
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s;
}
input::placeholder {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
input:hover,
input:focus {
  transform: scale(1.03);
}
button {
  background-color: var(--dark-purple-color);
  border: none;
  border-radius: 23px;
  padding: 0.6rem;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.4s;
  width: 100%;
  color: var(--white-color);
}
button:hover {
  background-color: var(--light-purple-color);
}

/* ===================== Create Cmp ================== */
.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem 0;
}
.inputs .row_input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.inputs .row_input input {
  width: 20%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#total {
  border-radius: 5px;
  color: var(--white-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
/* ===================== Search Cmp ================== */
.row_btn {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.row_btn button {
  flex-grow: 1;
}
/* ===================== Data Cmp ================== */
table {
  width: 100%;
  margin-top: 5px;
}
thead td {
  background-color: #312f2f;
  border-radius: 3px;
}
td {
  background-color: transparent;
  padding: 10px 2px;
}
.No_Product {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0;
  color: #434141;
}
#Edit,#delete {
  color: var(--light-purple-color);
}
/* ===================== BREAKPOINTS ================== */
/* --- small && xsmall device --- */
@media screen and (width <= 768px) {
  html {
    font-size: 14px;
  }
  section {
    padding: 1rem;
  }
  .inputs .row_input input {
    width: 100%;
  }
  #total {
    margin: auto;
  }
  table tr td {
    font-size: 10px;
  }
}
